<%- include('../partials/header') %>

<h2>All Flights</h2>
<table>
    <thead>
        <tr>
            <th>Airline</th>
            <th>Airport</th>
            <th>Flight Number</th>
            <th>Departure Time</th>
        </tr>
    </thead>
    <tbody>
        <% flights.forEach(flight => { %>
            <tr style="color: <%= flight.valid ? 'black' : 'red' %> ">
                <td><%= flight.airline %></td>
                <td><%= flight.airport %></td>
                <td><%= flight.flightNo %></td>
                <td><%= flight.departs %></td>
            </tr>
        <% }) %>
    </tbody>
</table>
<%- include('../partials/footer') %>