<%- include('../partials/header') %>


<section>
    <div>
        <h2>Airline: </h2>
        <div><%= flight.airline %></div>
    </div>
    <div>
        <h2>Airport: </h2>
        <div><%= flight.airport %></div>
    </div>
    <div>
        <h2>Flight Number: </h2>
        <div><%= flight.flightNo %></div>
    </div>
    <div>      
        <h2>Departure Time: </h2>
        <div><%= flight.departs %></div>
    </div>
</section>

<br><br>

<h2>Add Destination</h2>
<form method="POST" action="/flights/<%= flight.flightNo %>/destinations" class="destinations-form">

  <label>Airport:
    <select name="airport" required>
        <option value="" disabled selected>Select Airport</option>
        <option value="AUS" <%= disabledOptions.includes("AUS") ? 'disabled' : '' %>>AUS</option>
        <option value="DFW" <%= disabledOptions.includes("DFW") ? 'disabled' : '' %>>DFW</option>
        <option value="DEN" <%= disabledOptions.includes("DEN") ? 'disabled' : '' %>>DEN</option>
        <option value="LAX" <%= disabledOptions.includes("LAX") ? 'disabled' : '' %>>LAX</option>
        <option value="SAN" <%= disabledOptions.includes("SAN") ? 'disabled' : '' %>>SAN</option>
      </select>
  </label><br>
  <label>Arival Time:
    <input name="arrival" type="datetime-local" min="<%= departsDate %>" value="<%= departsDate %>" required>
  </label><br>
  <input type="submit" value="Add Destination">
</form>

<h3>All Destinations</h2>
<% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Airport</th>
          <th>Arivval Time</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(f) { %>
          <tr>
            <!-- .toLocaleDateString() provides a more friendly date format -->
            <td><%= f.airport %></td>
            <td><%= f.arrival %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Destinations Yet</h5>
  <% } %>

  <br><br>
    <div class="header-div">
        <h3>Purchased Tickets<a class="to-right" href="/flights/<%= flight.flightNo %>/tickets/new">Buy Ticket</a></h3>
        
    </div>
  <% if (flight.tickets.length) { %>
    <table>
      <thead>
        <tr>
          <th>Seat</th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(function(t) { %>
          <tr>
            <td><%= t.seat %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Tickets Yet</h5>
  <% } %>

<%- include('../partials/footer') %>